<h1>Routing in Angular</h1>
<ul>
  <li><a routerLink="main">main</a>
  </li>
</ul>

<ul>
  <h1 class="text-primary">Admin login</h1>
  <li><a routerLink="admin/login">Login</a></li>
  <li><a routerLink="admin/register">Registration</a></li>
</ul>
<ul>
  <h1 class="text-primary">User login</h1>
  <li><a routerLink="user/login">Login</a></li>
  <li><a routerLink="user/register">Registration</a></li>
</ul>
<ul>
  <h1 class="text-primary">About</h1>
  <li><a routerLink="about">about</a></li>
</ul>
<a routerLink="client/10">shahzaib</a>
<br>
<a routerLink="client/20">ali</a>
<br>
<a routerLink="client/30">muaz</a>
<br>
<a routerLink="client/40">umair</a>

<router-outlet></router-outlet>